.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

apps122017/config/

apps122017/

dewantara112017/modules/jualbeli/

dewantara112017/modules/finance/

dewantara112017/third_party/PHPExcel/

dewantara112017/libraries/PHPReport/

dewantara112017/libraries/jQuery_file_upload/

dewantara112017/config/

dewantara112017/logs/
